<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<style>
    .container {
    margin: 0 0;
    }
    .zero {
    background: red;
    }
    .buttons button {
        margin-right: 10px;
    }
</style>


<div id="app" class="container">
  <div class="container" :class="{ zero: isZero }">    
    <div class="content">
        <p>
          Set to 360 with enriched ring. 450 without.
        </p>
        Custom Timer: <input v-model="timer">
        <div>
            {{ remaining }}
        </div>
        <div class="buttons">
            <button @click="reset">
                Reset
            </button>
            <button v-if="countingDown" @click="pause">
                Pause
            </button>
            <button v-if="!countingDown" @click="unpause">
                Unpause
            </button>
        </div>
        
      </div>
  </div>
</div>

<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
      	timer: 360,
        remaining: 360,
        countingDown: true,
      }
    },
    methods: {
    	countDownTimer() {
      	if (this.remaining > 0 && this.countingDown) {
        	setTimeout(() => {
                if (this.countingDown) {
                    this.remaining -= 1
                    this.countDownTimer()
                }
            	
            }, 1000)
        } else if (this.remaining <= 0) {
        	this.countingDown = false
        }
      },
      reset() {
      	this.remaining = this.timer
        if (!this.countingDown) {
            this.unpause()
        }
      },
      pause() {
        this.countingDown = false
      },
      unpause() {
        this.countingDown = true
        this.countDownTimer()
      }
    },
    computed: {
    	isZero() {
            return this.remaining === 0;
      }
    },
    created () {
    	this.countDownTimer()
    }
  }).mount('#app')
</script>
